.post-body-common
  font-size 1.2em
  padding 5px 10px
  font-weight normal
  margin 0 0 1em
  line-height 1

.post-body
  .post-body-content
    @extend .post-body-common
    min-height 5em

  .post-body-input
    @extend .post-body-common
    width: 100%
    min-height 5em
    border 0
    &:focus
      outline 0
      border-bottom 1px solid #999
