.post-name-common
  font-size 1.5em
  padding 5px 10px
  font-weight normal
  margin 0 0 1em
  line-height 1

.post-name
  h1
    @extend .post-name-common

  .post-name-input
    border 0
    @extend .post-name-common
    width: 100%
    &:focus
      outline 0
      border-bottom 1px solid #999
