#home{
  .field{
    width: 20%;
    height: 80px;
    margin: 0 10px 10px 0;
    padding: 10px;
    float: left;
    background: #111;

    h3{
      margin: 0;
      color: #666;
    }
  }
  .new-field h3{
    text-decoration: underline;
    color: #999;
  }
}
