.field-name-common
  font-size 18px
  margin 0
  line-height 1
  padding 5px

.field-name
  background #333
  color #fff
  padding .5em 1em
  position absolute
  top 1em
  left 0
  margin 0
  z-index 20000
  h1
    @extend .field-name-common
  input
    @extend .field-name-common
    opacity .9
    background none
    border 0
    outline 0
    width: 400px
